*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}

/*headerに関して*/
header{
	width: 100%;
	height: 70px;
	background-color: #EC715F;
}
.header-box{
	width: 1024px;
	margin: 0 auto;
}
.header-logo{
	float: left;
	height: 70px;
}
.nav-list{
	float: right;
}
.nav-list li{
	float: left;
	padding: 0 30px;
	line-height: 70px;
	list-style: none;
}
.nav-list li a{
	color: #FAFAFA;
}

/*main-visualに関して*/
.main-visual{
	width: 100%;
	height: 650px;
	text-align: center;
	background-image: url(img/mv.png);
	background-position: center;
	background-size: cover;
}
.main-visual-title{
	font-size: 64px;
	color: #FAFAFA;
	padding: 200px 0 10px 0;
}
.main-visual p{
	font-size: 20px;
	color: #FAFAFA;
}

/*portfolioに関して*/
.portfolio{
	background-color: #ECEFF1;
	width: 100%;
}
.portfolio-contents{
	width: 920px;
	margin: 0 auto;
	text-align: center;
}
.portfolio-title{
	font-size: 32px;
	color: #000000;
	padding-top: 90px;
}
.portfolio-title-border{
	height: 8px;
	width: 70px;
	margin: 0 auto;
	border-bottom: 3px solid #EC715F;
}
.portfolio-text p{
	font-size: 16px;
	color: #000000;
	padding: 30px 0;
}
.portfolio-image{
	width: 300px;
	height: 250px;
	margin: 0 10px 10px 0;
	background-position: center;
	background-size: cover;
	float: left;
}
.portfolio-image:nth-child(3n){
	margin-right: 0;
}
.portfolio-image:nth-last-child(-n+3){
	margin-bottom: 90px;
}
.portfolio-image:nth-child(1){
	background-image: url(img/sketch.jpg);
}
.portfolio-image:nth-child(2){
	background-image: url(img/websuku.png);
}
.portfolio-image:nth-child(3){
	background-image: url(img/write.jpg);
}
.portfolio-image:nth-child(4){
	background-image: url(img/webcamp.png);
}
.portfolio-image:nth-child(5){
	background-image: url(img/talk.jpg);
}
.portfolio-image:nth-child(6){
	background-image: url(img/webcamp-mother.png);
}